<div class="container">
    <div class="header">
        <a class="icon" href="#"><i class="fa fa-phone" arial-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-envelope" arial-hidden="true"></i></a>
        </div>
        <div style="text-align:right">
            <span class="dot"></span>
           <span class="dot"></span>
            <span class="green"></span>
        </div>
        <div class="content">
          <h4 class="end" dir="rtl"> תודה רבה </h4>
          <div class="boxImg">
            <div class="wrap">
                <img class="image" src="https://media.giphy.com/media/3oEjHUf7j0aFDce0dG/giphy.gif" style="width: 250px height:250px">
            </div>


    <h5 dir="rtl" class="change" dir="rtl"> חזרה לטופס
        <a class="changeLink" routerLink="/">לחץ כאן</a></h5>

</div>
